{% extends 'base.html.twig' %}

{% block title %}Confirmation
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<p>We've received your registration request, an email has been send to you to validate your account :-)</p>
	</div>
{% endblock %}
