header nav ul{
    display: flex;
    list-style-type:none;
    justify-content: space-around;
}

.example-wrapper{
    width: 74%;
    margin: auto;
}

.user-entity-wrapper{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    padding: 30px;
    border: solid 1px #ccc;
}

.form{
    width: 34%;
}
 .entity-wrapper{
    width: 60%;
}

.user-objects .price{
    color: #f44;
}
.entities{
    display: flex;
}
.user-objects .entity-card{
    box-shadow: 3px 3px 3px #ccc, -3px -3px 3px #ccc;
    padding: 14px;
    width: 40%;
    margin: 10px;
}


form button {
    background-color: green;
    border: solid 1px green;
    padding: 6px 14px;
    color: #fff;
}